@page
@model AiBao.Web.Pages.Admin.SysMgr.SettingModel
@{
    ViewData["Title"] = "系统参数设置";
    var canEdit = WorkContext.IsPermit("/admin/sysmgr/editsetting");
}

<section class="content-header">
    <h1>
        系统参数配置
        <small>系统相关的参数设置</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/admin/home"><i class="fa fa-dashboard"></i> 主界面</a></li>
        <li class="active">系统参数配置</li>
    </ol>
</section>
<section class="content">

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">基础设置</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">邮箱参数</a></li>
            <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="false">水印设置</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                <div class="box box-solid">
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>系统名称</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="请输入业务说明" data-type="text" data-pk="SiteName">@Model.SiteSettings.SiteName</a>
                                <small>(点击修改)</small>
                            </dd>
                            <dt>OSS上传Key</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="" data-type="text" data-pk="OSSAccessKeyId">@Model.SiteSettings.OSSAccessKeyId</a>
                                <small>(点击修改)</small>
                            </dd>
                            <dt>OSS上传密钥</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="" data-type="text" data-pk="OSSAccessKeySecret">@Model.SiteSettings.OSSAccessKeySecret</a>
                                <small>(点击修改)</small>
                            </dd>
                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
                <div class="box box-solid">
                    <div class="box-header">
                        <h3 class="box-title with-border">SMTP发送邮件参数设置</h3>
                    </div>
                    <div class="box-body">
                        <dl class="dl-horizontal">
                            <dt>主机Host</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="发送邮件主机地址" data-type="text" data-pk="EmailHost">@Model.SiteSettings.EmailHost</a>
                                <small>(点击修改)</small>
                            </dd>
                            <dt>端口Port</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="端口号配置" data-type="text" data-pk="EmailPort">@Model.SiteSettings.EmailPort</a>
                                <small>(点击修改)</small>
                            </dd>
                            <dt>账号</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="发送邮件的账号" data-type="text" data-pk="EmailAccount">@Model.SiteSettings.EmailAccount</a>
                                <small>(点击修改)</small>
                            </dd>
                            <dt>密码</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="发送邮件的密码" data-type="text" data-pk="EmailPassword">@Model.SiteSettings.EmailPassword</a>
                                <small>(点击修改)</small>
                            </dd>
                            <dt>系统错误接收邮箱</dt>
                            <dd>
                                <a href="#" class="editable editable-click" data-url="/admin/sysmgr/editsetting" data-title="发送邮件的密码" data-type="text" data-pk="ErrorToMailAddress">@Model.SiteSettings.ErrorToMailAddress</a>
                                <small>(点击修改)</small>
                            </dd>
                        </dl>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>

            <div class="tab-pane" id="tab_3">
                <div class="box box-solid">
                    <div class="box-body">
                        <form asp-page="MarkSetting" id="formMark" method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="return false;">
                            <div class="form-group">
                                <label class="control-label col-sm-2">当前水印</label>
                                <div class="col-4">
                                    <img src="~/mark_logo.png" alt=""/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2">水印图片</label>
                                <div class="col-sm-4  no-padding">
                                    <input type="file" name="file" data-val="true" data-val-required="请选择图片文件" class="form-control" value="" />
                                    <div class="help-block">水印文件最好png透明背景，白色图案，最好不大于20kb</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2">
                                    <button class="btn btn-sm btn-success"><i class="fa fa-save"></i>保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
                <div class="box box-solid">
                    <div class="box-body">
                        
                        <form asp-page="MarkSetting" asp-page-handler="BaseMap" id="form404" method="post" class="form-horizontal" enctype="multipart/form-data" onsubmit="return false;">
                            <div class="form-group">
                                <label class="control-label col-sm-2">当前底图</label>
                                <div class="col-4">
                                    <img src="~/img_404_orrer.png" alt="" width="200" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="control-label col-sm-2">底图</label>
                                <div class="col-sm-4 no-padding">
                                    <input type="file" name="file" data-val="true" data-val-required="请选择图片文件" class="form-control" value="" />
                                    <div class="help-block">地图尽可能小，灰色背景</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2">
                                    <button class="btn btn-sm btn-info"><i class="fa fa-save"></i>保存</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
            <!-- /.tab-pane --> 
            <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
    </div>


</section>

<script>
    $(function () {
        $.fn.editable.defaults.mode = 'inline';
        if (@Json.Serialize(canEdit)) {
            $('.editable').editable({
                ajaxOptions: {
                    type: 'get',
                    dataType: 'json'
                },
                success: function (response) {
                    if (response.Code !== 0) return response.Message;
                }
            });
        }
        $('#formMark,#form404').submit(function () {
            if ($(this).valid()) {
                var load = layer.load(2);
                $(this).ajaxSubmit(function (res) {
                    layer.close(load);
                    layer.msg(res.Message, { icon: res.Code === 0 ? 1 : 2 });
                });
            }
        });
    });
</script>


























